@font-face {
  font-family: "Kiddish";
  font-style: normal;
  font-weight: normal;
  src: local("Kiddos"),
    url("./assets/fonts/Kiddish.ttf") format("woff");
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Kiddish';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Kiddos';
}
